{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "plugins": [
    "react",
    "jsx-a11y",
    "import"
  ],
  "rules": {
    "react/jsx-filename-extension": [
      "off"
    ],
    "no-undef": [
      "error"
    ],
    "react/sort-comp": [
      "off"
    ],
    "react/prefer-stateless-function": [
      "off"
    ],
    "react/prop-types": [
      "error",
      {
        "ignore": [
          "navigation"
        ]
      }
    ]
  },
  "globals": {
    "it": false,
    "expect": false,
    "describe": false,
    "navigator": false
  }
}